[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.10"
django-cleanup = "==5.1.0"
django-crispy-forms = "==1.9.2"
pytz = "==2020.1"
sqlparse = "==0.3.1"
Django = "==3.1.1"
Pillow = "==7.2.0"
python-dateutil = "*"
django-bootstrap-datepicker-plus = "*"
django-bootstrap4 = "*"
djangorestframework = "*"
django-rest-auth = "*"
gunicorn = "*"
django-heroku = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.8"
